streamlit==1.15.1
matplotlib==3.6.2
seaborn==0.12.2
pandas==1.5.2
numpy==1.23.1
sklearn==0.0
statsmodels==0.13.5
apyori==1.1.2
scipy==1.10.0
joblib==1.2.0
geopy==2.3.0
threadpoolctl==3.1.0
imblearn==0.0
altair==4.2.0
boruta==0.3
